:root {
    --primary-color: #ffffff;
    --secondary-color: #161e2f;
    --tertiary-color: #209d5c;
}

.hide {
    visibility: hidden;
}

body {
    margin: 0 5%;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header img {
    background-color: var(--secondary-color);
    width: 50%;
    margin-top: 3%;
}

#quizSection {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: solid 1px --var(--tertiary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3%;
}

#quizHeaders {
    display: flex;
    margin: 0 10% 3% 10%;
}

#quizQuestion {
    font-size: 200%;
}
#inputs {
    padding: 3%;
}

input {
    margin: 1%;
}

#buttons {
    display: flex;
    justify-content: space-between;
    margin: 10%;
}

.btn {
    font-size: 200%;
    display: flex;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    padding: 5% 5%;
    margin: 0 auto;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.choice-btn {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    padding: 2% 3%;
    margin: 2% 2%;
    text-decoration: none;
}

#statusBar {
    border: 5px solid var(--tertiary-color);
    width: 10%;
}